.field .field-group {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.field .form-group {
  width: 29%;
}

.field .checkbox-inline {
  font-weight: bold;
}

.field .well {
  padding: 10px;
  margin-top: -10px;
}
