/*.form {
  width: 100%
}
*/

.label-form {
  display: inline;
}

.label-form-name, .label-form-id {
  display: inline-block;
  margin-right: 20px;
}

.label-form-id {
  width: 100px;
  margin-left: 40px;
}

.label-form-name {
  width: 250px;
}
