.App {
  padding: 20px;
  position: relative;
}

.App .fields {
  margin-top: 93px;
}

.mode-group {
  float: right;
  text-align: right;
}

.controls-container {
  text-align: center;
}

.controls-container button {
  margin: 20px;
}

.light-text-note {
  font-weight: 300;
}
